h1{
  font-weight: bold;
  font-family: "Georgia";
  color: lightblue;
  font-size: 100px;
}

h2{
  font-style: italic;
}

p{
  font-size: 20px;
}

body {
  background-image: images/bg.jpg ;
  background-color: #ffffff;
}

#snapchat{
  height: 50px;
  width: 50px;
}

#instagram{
  height: 50px;
  width: 50px;
}

#twitter{
  height: 50px;
  width: 50px;
}

#search{
  height: 50px;
  width: 50px;
  margin-right: auto;
}

.eye{
  height: 200px;
  width: 200px;
}

.aboutpage{
  height: 1000px;
  width: 2000px;
  background-color: #a7b4c9;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.sidenav {
  height: 1000px; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
> 5c5ef80945f98aa05d51a3c4e9557212c92965ac
}

#myCarousel{
  height: 1000px;
}
