h1{
  font-weight: bold;
  color: lightblue;
  font-size: 80px;
  margin-left: 450px;
}

#snapchat{
  height: 100px;
  width: 100px;
}

#instagram{
  height: 100px;
  width: 100px;
}

#twitter{
  height: 100px;
  width: 100px;
}
