h1{
  font-weight: bold;
  color: lightblue;
  font-size: 100px;
  a;
}



#snapchat{
  height: 100px;
  width: 100px;
  position: ;
  }

#instagram{
  height: 100px;
  width: 100px;
}

#twitter{
  height: 100px;
  width: 100px;
}

#search{
  height: 50px;
  width: 50px;
  margin-right: auto;
}
.aboutpage{
  height: 1000px;
  width: 2000px;
  background-color: #a7b4c9;
}
.sidenav {
  height: 300px;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
> 5c5ef80945f98aa05d51a3c4e9557212c92965ac
}

#myCarousel{
  height: 1000px;
}
